<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2016.Feb - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">GE Healthcare, Seongnam, Gyeonggi-do, Korea</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I have responsibilities<br>
                            - Developing UI and Connectivity features to enhance medical device’s functionality using C++<br>
                            - Debugging and resolving issues for distributed software application<br>
                            - Extending to the development of systems software<br>
                            - Managing Windows servers including build machines, JIRA<br>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">URP Intern</h3>
                            <div class="time">2015.Jul - 2015.Dec</div>
                        </div><!--//upper-row-->
                        <div class="company">GE Healthcare, Seongnam, Gyeonggi-do, Korea</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My role is<br>
                        - Developed and launched the ‘SMART’ application to test multiple medical devices simultaneously
                        - Validated the functions of ultrasound equipment through numerous system tests
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">QA Intern</h3>
                            <div class="time">2012.Dec - 2013.Feb</div>
                        </div><!--//upper-row-->
                        <div class="company">Nexon, Seoul, Korea</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Validated the functions of billing and portal service</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->