            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>I'm working on several projects personally, such as iOS and Web applications.</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a href="https://github.com/njir/Buzzler" target="_blank">Buzzler</a></span> - <span class="project-tagline">SNS iOS app for EOS dApp. under development</span>
                </div><!--//intro-->
                
                <div class="item">
                    <span class="project-title"><a href="https://itunes.apple.com/app/id1247134048" target="_blank">AUDIGA</a></span> - <span class="project-tagline">Audio tour guide iOS app</span>
                </div><!--//intro-->
                    
                <div class="item">
                    <span class="project-title"><a href="https://github.com/suji-korea/suji" target="_blank">SUJI</a></span> - <span class="project-tagline">Open source Web & Mobile POS system for ‘Naver D2 Fest 2015’ </span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="https://github.com/oh-my-github/registry" target="_blank">oh-my-github</a></span> - <span class="project-tagline">A responsive website for figuring out status of users at Github site</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title">SMART</a></span> - <span class="project-tagline">Auto-test tool built with Qt framework, Node.js and Arduino to test medical device automatically</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title">SomeNow</span> - <span class="project-tagline">Social networking dating application of Android</span>
                </div><!--//item-->
            </section><!--//section-->
